.table
{
  display: table;
}

.row
{
  display: table-row;
}

.cell
{
  display: table-cell;
}

.subject
{
  padding-right: 10px;
}

body
{
  color: #FFF;
  background-color: rgba(59, 59, 59, 1);
}

a:visited
{
  color: #4F0;
}

a
{
  color: #0FE
}
