body
{
  color: #FFF;
  background-color: rgba(59, 59, 59, 1);
}

a:visited
{
  color: #4F0;
}

a
{
  color: #0FE
}

#avatar
{
    background: url('../img/avatar_200.jpeg') no-repeat;
    background-size: contain;
}

.circle-200
{
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  width: 200px;
  height: 200px;
  margin-right: 15px;
}

h2
{
  color: #FF7;
}
